@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  @keyframes fadeSlideLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-slide-left {
    animation: fadeSlideLeft 0.5s ease forwards;
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-100px);
    }
  }
  .fadeInRight {
    animation: fadeInRight 0.4s ease forwards;
  }
  
  .fadeOutLeft {
    animation: fadeOutLeft 0.6s ease forwards;
  }


/* Global Styles to Lock Theme and Font Sizes */
html.theme-light {
  color-scheme: light; /* Force light mode */
  background-color: #ffffff;
  color: #000000;
}

/* Lock Font Sizes */
html {
  font-size: 16px !important; /* Prevent device-based scaling */
}

body {
  font-size: 16px; /* Ensure consistency */
}

/* Optional: Prevent browser-specific adjustments */
* {
  -webkit-text-size-adjust: 100%; /* Disable iOS font scaling */
  -moz-text-size-adjust: 100%;   /* Disable Firefox font scaling */
  text-size-adjust: 100%;        /* Standard */
}